@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}
.side-bar-scroll {
  max-height: 80vh;
  overflow-y: auto;
}

.box {
  max-height: 40vh;
}
.big-box {
  max-height: 40em;
}
.action {
  cursor: pointer;
  &:hover {
    background-color: rgb(136, 132, 204);
  }
}
